*{
    box-sizing: border-box;
}
body,ul,li,p,ol,h1,h2,h3,h4,h5,h6,div,span{
    margin: 0px;
    padding: 0px;
}
*{
    font-family:"SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
header, h1, h2, h3, h4, h5, h6, p, span, li, a, div{
    user-select: none; 
}
img{
    pointer-events: none;
}
html{
    overflow-x:  hidden;
}
@media screen and (max-width: 557px) {
    .footer-child-1 ul li {
        font-size: 7px !important;
    }
    .footer-div-lists label h3 {
        font-size: 8px !important;
    }
    .footer-div-lists ul li a {
        font-size: 8px !important;
    }
    .footer-div-lists ul li {
        margin-bottom: -4px !important;
    }    
    label {
        display: inline-block;
        margin-bottom: 1px !important;
    }
    .footer-div-lists div {
        padding-top: 8px !important;
    }
}